#include "resource.h"
#include <winres.h>

IDD_ABOUT DIALOGEX 0, 0, 180, 49
STYLE   DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION "Enter Folder Tag"
FONT 9, "Segoe UI"
BEGIN
EDITTEXT IDC_EDITTAG 7 7 166 14, ES_AUTOHSCROLL
DEFPUSHBUTTON "Ok", IDOK, 69, 28, 50, 14
PUSHBUTTON "Cancel", IDCANCEL, 123, 28, 50, 14
END